openapi: 3.0.0
info:
  title: Warp Agent API
  version: 1.0.0
  description: "API for creating, managing, and querying Warp cloud agent runs.\n\nThese endpoints allow users to programmatically spawn agents, list runs, \nand retrieve detailed run information.\n"
  contact:
    name: Warp Support
    url: https://docs.warp.dev
    email: support@warp.dev
  license:
    name: Proprietary
servers:
- url: https://app.warp.dev/api/v1
  description: Warp Server
tags:
- name: agent
  description: Operations for running and managing cloud agents
- name: schedules
  description: Operations for creating and managing scheduled agents
paths:
  /agent:
    get:
      summary: List available agents
      description: |
        Retrieve a list of available agents (skills) that can be used to run tasks.
        Agents are discovered from environments or a specific repository.
      operationId: listAgents
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters:
      - name: repo
        in: query
        description: |
          Optional repository specification to list agents from (format: "owner/repo").
          If not provided, lists agents from all accessible environments.
        required: false
        schema:
          type: string
      - name: refresh
        in: query
        description: |
          When true, clears the agent list cache before fetching.
          Use this to force a refresh of the available agents.
        required: false
        schema:
          type: boolean
          default: false
      - name: sort_by
        in: query
        description: |
          Sort order for the returned agents.
          - "name": Sort alphabetically by name (default)
          - "last_run": Sort by most recently used
        required: false
        schema:
          type: string
          enum:
          - name
          - last_run
      - name: include_malformed_skills
        in: query
        description: |
          When true, includes skills whose SKILL.md file exists but is
          malformed. These variants will have a non-empty `error` field
          describing the parse failure. Defaults to false.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: List of available agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentsResponse'
        '400':
          description: Invalid repository specification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/connected-self-hosted-workers:
    get:
      summary: List connected self-hosted workers
      description: |
        Retrieve currently connected self-hosted workers for the authenticated principal's team.
        Worker presence is derived from worker websocket heartbeats and may be briefly stale.
      operationId: listConnectedSelfHostedWorkers
      tags:
      - agent
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of currently connected self-hosted workers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConnectedSelfHostedWorkersResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to list connected workers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/runs/{runId}/transcript:
    get:
      summary: Get run transcript
      description: |
        Retrieve the raw conversation transcript for an agent run.
        Returns a 302 redirect to a time-limited download URL for the transcript.
      operationId: getRunTranscript
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters:
      - name: runId
        in: path
        description: The unique identifier of the run
        required: true
        schema:
          type: string
      responses:
        '302':
          description: Redirect to a download URL for the transcript
          headers:
            Location:
              description: URL to download the transcript
              schema:
                type: string
                format: uri
        '400':
          description: Missing run ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access run transcript
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Run not found or has no transcript
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/run:
    post:
      summary: Run an agent task
      description: |
        Spawn a cloud agent with a prompt and optional configuration.
        The agent will be queued for execution and assigned a unique run ID.
      operationId: runAgent
      deprecated: true
      tags:
      - agent
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunAgentRequest'
            examples:
              simple:
                summary: Simple prompt
                value:
                  prompt: Fix the bug in auth.go
              withConfig:
                summary: With agent config
                value:
                  prompt: Refactor the database layer
                  config:
                    name: my-agent
                    model_id: gpt-5-4-high
                    base_prompt: Focus on Go backend code
                  title: DB Refactoring Run
      responses:
        '200':
          description: Run created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunAgentResponse'
        '400':
          description: Invalid request (missing prompt, invalid config)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access referenced resources (environment, MCP servers)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/runs:
    post:
      summary: Run a cloud agent
      description: |
        Spawn a cloud agent with a prompt and optional configuration.
        The agent will be queued for execution and assigned a unique run ID.
      operationId: createRun
      tags:
      - agent
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunAgentRequest'
      responses:
        '200':
          description: Run created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunAgentResponse'
        '400':
          description: Invalid request (missing prompt, invalid config)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access referenced resources (environment, MCP servers)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List agent runs
      description: |
        Retrieve a paginated list of agent runs with optional filtering.
        Results default to `sort_by=updated_at` and `sort_order=desc`.
      operationId: listRuns
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters:
      - name: limit
        in: query
        description: Maximum number of runs to return
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 20
      - name: cursor
        in: query
        description: Pagination cursor from previous response
        required: false
        schema:
          type: string
      - name: sort_by
        in: query
        description: |
          Sort field for results.
          - `updated_at`: Sort by last update timestamp (default)
          - `created_at`: Sort by creation timestamp
          - `title`: Sort alphabetically by run title
          - `agent`: Sort alphabetically by skill. Runs without a skill are grouped last.
        required: false
        schema:
          type: string
          enum:
          - updated_at
          - created_at
          - title
          - agent
          default: updated_at
      - name: sort_order
        in: query
        description: Sort direction
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: state
        in: query
        description: |
          Filter by run state. Can be specified multiple times to match any of the given states.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/RunState'
        style: form
        explode: true
      - name: name
        in: query
        description: Filter by agent config name
        required: false
        schema:
          type: string
      - name: model_id
        in: query
        description: Filter by model ID
        required: false
        schema:
          type: string
      - name: creator
        in: query
        description: Filter by creator UID (user or service account)
        required: false
        schema:
          type: string
      - name: executor
        in: query
        description: |
          Filter by the user or agent that executed the run. This will often be the
          same as the creator, but not always: users may delegate tasks to agents.
        required: false
        schema:
          type: string
      - name: source
        in: query
        description: Filter by run source type
        required: false
        schema:
          $ref: '#/components/schemas/RunSourceType'
      - name: execution_location
        in: query
        description: Filter by where the run executed
        required: false
        schema:
          $ref: '#/components/schemas/RunExecutionLocation'
      - name: created_after
        in: query
        description: Filter runs created after this timestamp (RFC3339 format)
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: Filter runs created before this timestamp (RFC3339 format)
        required: false
        schema:
          type: string
          format: date-time
      - name: updated_after
        in: query
        description: Filter runs updated after this timestamp (RFC3339 format)
        required: false
        schema:
          type: string
          format: date-time
      - name: environment_id
        in: query
        description: |
          Filter runs by environment ID. Passing the literal value
          `empty-environment` matches runs with no environment configured,
          rather than omitting the parameter, which applies no environment
          filter at all. `empty-environment` can never collide with a real
          environment ID: every environment ID is exactly 22 characters
          drawn from `[A-Za-z0-9]`, while this sentinel contains a hyphen
          and is a different length.
        required: false
        schema:
          type: string
      - name: skill
        in: query
        description: |
          Filter runs by skill spec (e.g., "owner/repo:path/to/SKILL.md").
          Alias for skill_spec.
        required: false
        schema:
          type: string
      - name: skill_spec
        in: query
        description: Filter runs by skill spec (e.g., "owner/repo:path/to/SKILL.md")
        required: false
        schema:
          type: string
      - name: schedule_id
        in: query
        description: Filter runs by the scheduled agent ID that created them
        required: false
        schema:
          type: string
      - name: ancestor_run_id
        in: query
        description: Filter runs by ancestor run ID. The referenced run must exist and be accessible to the caller.
        required: false
        schema:
          type: string
      - name: metadata
        in: query
        description: |
          Filter by exact metadata key/value pairs using object notation (e.g.
          `metadata[ticket_id]=VIS-238`). Multiple pairs combine with AND semantics.
          At most 5 pairs per request. Returns `feature_not_available` when metadata
          filtering is not enabled.
        required: false
        schema:
          type: object
          maxProperties: 5
          additionalProperties:
            type: string
        style: deepObject
        explode: true
      - name: artifact_type
        in: query
        description: Filter runs by artifact type
        required: false
        schema:
          type: string
          enum:
          - PLAN
          - PULL_REQUEST
          - SCREENSHOT
          - FILE
          - EXTERNAL_REFERENCE
      - name: q
        in: query
        description: Fuzzy search query across run title, prompt, and skill_spec
        required: false
        schema:
          type: string
      responses:
        '200':
          description: List of runs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRunsResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Metadata filtering is not enabled for this environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/run-by-external-reference:
    get:
      summary: Find the run that produced a given external reference URL
      description: |
        Reverse-looks up the agent run that created an EXTERNAL_REFERENCE artifact
        with the given URL. The URL is matched against the canonical locator stored
        when the artifact was reported via POST /harness-support/report-artifact
        with artifact_type EXTERNAL_REFERENCE. Returns 404 when no matching run
        exists or when the caller lacks access, to avoid leaking run existence.
      operationId: getRunByExternalReferenceURL
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters:
      - name: url
        in: query
        required: true
        description: The canonical URL of the external reference artifact to look up.
        schema:
          type: string
          maxLength: 2048
      responses:
        '200':
          description: Run found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunByExternalReferenceResponse'
        '400':
          description: url query parameter is missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No run found with the given external reference URL, or caller lacks access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/runs/{runId}:
    get:
      summary: Get run details
      description: "Retrieve detailed information about a specific agent run, \nincluding the full prompt, session link, and resolved configuration.\n"
      operationId: getRun
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters:
      - name: runId
        in: path
        description: The unique identifier of the run
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunItem'
        '400':
          description: Missing run ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/runs/{runId}/timeline:
    get:
      summary: Get run timeline
      description: |
        Retrieve chronological setup and lifecycle timeline events for an agent run.
      operationId: getRunTimeline
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters:
      - name: runId
        in: path
        description: The unique identifier of the run
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Run timeline events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRunTimelineResponse'
        '400':
          description: Missing run ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/runs/{runId}/conversation:
    get:
      summary: Get normalized run conversation
      description: |
        Retrieve a run's conversation as a normalized sequence of messages and
        nested steps.
        The response groups text, tool activity, and event content into
        structured blocks.
      operationId: getRunConversation
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters:
      - name: runId
        in: path
        description: The unique identifier of the run
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Normalized conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationResponse'
        '400':
          description: Missing run ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Run not found, or the run has no conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: |
            Conversation format is not yet supported by the normalized endpoint
            (error_code: operation_not_supported)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/runs/{runId}/cancel:
    post:
      summary: Cancel a run
      description: |
        Cancel an agent run that is currently queued or in progress.
        Once cancelled, the run will transition to a cancelled state.

        Not all runs can be cancelled. Runs that are in a terminal state
        (SUCCEEDED, FAILED, ERROR, BLOCKED, CANCELLED) return 400. Runs in
        PENDING state return 409 (retry after a moment). Self-hosted, local,
        and GitHub Action runs return 422.
      operationId: cancelRun
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters:
      - name: runId
        in: path
        description: The unique identifier of the run to cancel
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Run cancelled successfully
          content:
            application/json:
              schema:
                type: string
                description: The ID of the cancelled run
        '400':
          description: |
            Missing run ID, or the run is already in a terminal state
            (error_code: invalid_request)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to cancel run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: |
            Run is in PENDING state and cannot be cancelled yet.
            Retry after a moment (error_code: conflict, retryable: true).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: |
            Run cannot be cancelled because the operation is not supported
            for this run type (e.g., self-hosted, local, or GitHub Action runs)
            (error_code: operation_not_supported)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/runs/{runId}/followups:
    post:
      summary: Submit a follow-up message for a run
      description: |
        Send a follow-up message to an existing run. The server transparently
        routes the message based on the current state of the run (still
        queued, actively running, or ended). A 200 response means the follow-up
        was accepted; updated run state can be observed via
        `GET /agent/runs/{runId}`.
      operationId: submitRunFollowup
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters:
      - name: runId
        in: path
        description: The unique identifier of the run
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunFollowupRequest'
      responses:
        '200':
          description: Follow-up accepted
          content:
            application/json:
              schema:
                type: object
        '400':
          description: |
            Invalid request (e.g. no active sandbox without conversation ID,
            malformed payload). Empty messages are accepted when continuing a
            run from saved conversation context; otherwise they are rejected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to submit follow-ups for this run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/conversations/{conversation_id}:
    get:
      summary: Get normalized conversation
      description: |
        Retrieve a conversation directly by conversation ID in Warp's
        normalized task/message format.
      operationId: getConversation
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters:
      - name: conversation_id
        in: path
        description: The unique identifier of the conversation
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Normalized conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationResponse'
        '400':
          description: Missing conversation ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: |
            Conversation format is not yet supported by the normalized endpoint
            (error_code: operation_not_supported)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/schedules:
    post:
      summary: Create a scheduled agent
      description: |
        Create a new scheduled agent that runs on a cron schedule.
        The agent will be triggered automatically based on the cron expression.
      operationId: createScheduledAgent
      tags:
      - schedules
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScheduledAgentRequest'
            examples:
              simple:
                summary: Simple daily schedule
                value:
                  name: Daily Code Review
                  cron_schedule: 0 9 * * *
                  prompt: Review open pull requests and provide feedback
                  enabled: true
              withConfig:
                summary: With agent config
                value:
                  name: Weekly Report
                  cron_schedule: 0 10 * * 1
                  prompt: Generate weekly status report
                  enabled: true
                  agent_config:
                    model_id: claude-4-6-opus-high
      responses:
        '201':
          description: Scheduled agent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledAgentItem'
        '400':
          description: Invalid request (missing required fields, invalid cron expression)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission or feature not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List scheduled agents
      description: |
        Retrieve all scheduled agents accessible to the authenticated user.
        Results are sorted alphabetically by name.
      operationId: listScheduledAgents
      tags:
      - schedules
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of scheduled agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScheduledAgentsResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/schedules/{scheduleId}:
    get:
      summary: Get scheduled agent details
      description: |
        Retrieve detailed information about a specific scheduled agent,
        including its configuration, history, and next scheduled run time.
      operationId: getScheduledAgent
      tags:
      - schedules
      security:
      - bearerAuth: []
      parameters:
      - name: scheduleId
        in: path
        description: The unique identifier of the scheduled agent
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Scheduled agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledAgentItem'
        '400':
          description: Missing schedule ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Schedule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a scheduled agent
      description: |
        Update an existing scheduled agent's configuration.
        All fields except agent_config are required.
      operationId: updateScheduledAgent
      tags:
      - schedules
      security:
      - bearerAuth: []
      parameters:
      - name: scheduleId
        in: path
        description: The unique identifier of the scheduled agent
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScheduledAgentRequest'
      responses:
        '200':
          description: Scheduled agent updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledAgentItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to update schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Schedule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a scheduled agent
      description: |
        Delete a scheduled agent. This will stop all future scheduled runs.
      operationId: deleteScheduledAgent
      tags:
      - schedules
      security:
      - bearerAuth: []
      parameters:
      - name: scheduleId
        in: path
        description: The unique identifier of the scheduled agent
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Scheduled agent deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteScheduledAgentResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to delete schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Schedule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/schedules/{scheduleId}/pause:
    post:
      summary: Pause a scheduled agent
      description: |
        Pause a scheduled agent. The agent will not run until resumed.
      operationId: pauseScheduledAgent
      tags:
      - schedules
      security:
      - bearerAuth: []
      parameters:
      - name: scheduleId
        in: path
        description: The unique identifier of the scheduled agent
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Scheduled agent paused successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledAgentItem'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to pause schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Schedule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/schedules/{scheduleId}/resume:
    post:
      summary: Resume a scheduled agent
      description: |
        Resume a paused scheduled agent. The agent will start running
        according to its cron schedule.
      operationId: resumeScheduledAgent
      tags:
      - schedules
      security:
      - bearerAuth: []
      parameters:
      - name: scheduleId
        in: path
        description: The unique identifier of the scheduled agent
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Scheduled agent resumed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledAgentItem'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to resume schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Schedule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/environments:
    get:
      summary: List environments
      description: |
        Retrieve cloud environments accessible to the authenticated principal.
        Returns environments the caller owns, has been granted guest access to,
        or has accessed via link sharing.
      operationId: listEnvironments
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters:
      - name: sort_by
        in: query
        required: false
        description: |
          Sort order for the returned environments.
          - `name`: alphabetical by environment name
          - `last_updated`: most recently updated first (default)
        schema:
          type: string
          enum:
          - name
          - last_updated
          default: last_updated
      responses:
        '200':
          description: List of accessible environments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEnvironmentsResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/models:
    get:
      summary: List available models
      description: |
        Retrieve the list of LLM models available to the authenticated user for
        agent runs. The response includes which model is the default, as well as
        per-model metadata such as provider, cost, and whether the model is
        currently disabled (and why).
      operationId: listModels
      tags:
      - agent
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of available models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/artifacts/{artifactUid}:
    get:
      summary: Get artifact details
      description: |
        Retrieve an artifact by its UUID. For downloadable file-like artifacts,
        returns a time-limited signed download URL. For plan artifacts, returns
        the current plan content inline.

        Public artifacts can be read without authentication; private artifacts
        require the caller to be authenticated and authorized. Anonymous reads
        of public file artifacts omit the `filepath` field.
      operationId: getArtifact
      tags:
      - agent
      security:
      - bearerAuth: []
      - {}
      parameters:
      - name: artifactUid
        in: path
        description: The unique identifier (UUID) of the artifact
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Artifact details with download information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactResponse'
        '400':
          description: Missing artifact UID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required for private artifacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access private artifact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Artifact not found or unsupported artifact type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/artifacts/{artifactUid}/download:
    get:
      summary: Download an artifact
      description: |
        Redirect to a temporary signed download URL for a downloadable artifact.
        Public artifacts can be downloaded without authentication; private
        artifacts require the caller to be authenticated and authorized.
      operationId: downloadArtifact
      tags:
      - agent
      security:
      - bearerAuth: []
      - {}
      parameters:
      - name: artifactUid
        in: path
        description: The unique identifier (UUID) of the artifact
        required: true
        schema:
          type: string
      responses:
        '302':
          description: Redirect to a temporary signed artifact download URL
          headers:
            Location:
              description: Temporary signed download URL
              schema:
                type: string
                format: uri
            Cache-Control:
              description: Cache directive for the redirect response
              schema:
                type: string
            X-Content-Type-Options:
              description: Browser content sniffing protection
              schema:
                type: string
        '400':
          description: Missing artifact UID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required for private artifacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access private artifact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Artifact not found or unsupported artifact type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/identities:
    post:
      summary: Create an agent
      description: |
        Create a new agent for the caller's team.
        Agents can be used as the execution principal for team-owned runs.
      operationId: createAgent
      tags:
      - agent
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '201':
          description: Agent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '400':
          description: Invalid request (empty name, user on multiple teams, or on no team)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Only human users can manage agents, or plan limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List agents
      description: |
        List all agents for the caller's team. Each agent includes
        an `available` flag indicating whether it is within the team's plan limit
        and may be used for runs.
      operationId: listAgents
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters: []
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentIdentitiesResponse'
        '400':
          description: User on multiple teams, or on no team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Only human users can list agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/runs/{runId}/scores:
    post:
      summary: Report evaluation scores for a run
      description: |
        Report one or more evaluation verdicts for a run. Called by the judge run
        that was dispatched to score this run, authenticating with that judge
        run's API key. Each verdict is processed independently: the response
        reports per-verdict acceptance, and a rejected verdict does not block the
        others. Reporting a subset of the run's evaluations is valid.
      operationId: reportRunScores
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters:
      - name: runId
        in: path
        description: The run being scored
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportRunScoresRequest'
      responses:
        '200':
          description: Every reported verdict was accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportRunScoresResponse'
        '206':
          description: The request was well-formed but at least one verdict was rejected; inspect each result's status and error before deciding whether to resubmit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportRunScoresResponse'
        '400':
          description: Malformed request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/identities/{uid}:
    get:
      summary: Retrieve an agent
      description: |
        Retrieve a single agent by its unique identifier.
        The response includes an `available` flag indicating whether the agent
        is within the team's plan limit and may be used for runs.
      operationId: getAgent
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters:
      - name: uid
        in: path
        description: The unique identifier of the agent
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update an agent
      description: |
        Update an existing agent.
      operationId: updateAgent
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters:
      - name: uid
        in: path
        description: The unique identifier of the agent
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: Agent updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '400':
          description: Missing or invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Only human users can manage agents, or plan limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete an agent
      description: |
        Delete an agent. All API keys associated with the
        agent are deleted atomically.
      operationId: deleteAgent
      tags:
      - agent
      security:
      - bearerAuth: []
      parameters:
      - name: uid
        in: path
        description: The unique identifier of the agent
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Agent deleted successfully
        '400':
          description: Cannot delete the default agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Only human users can manage agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Authentication via a Warp API key.
  schemas:
    RunAgentRequest:
      type: object
      description: |
        Request body for creating a new agent run.
        Either prompt or skill (via skill field, config.skill_spec, or config.skills) is required,
        except for handoff requests that set conversation_id.
      properties:
        prompt:
          type: string
          description: |
            The prompt/instruction for the agent to execute.
            Required unless a skill is specified via the skill field, config.skill_spec, or config.skills.
            Handoff requests may omit prompt when conversation_id is set.
        mode:
          $ref: '#/components/schemas/AgentRunMode'
          description: |
            Optional query mode for the run. Defaults to `normal` when omitted.
            The server does not infer mode from prompt prefixes such as `/plan`,
            so callers should pass this field explicitly to request non-normal behavior.
        skill:
          type: string
          description: |
            Skill specification to use as the base prompt for the agent.
            Supported formats:
              - "repo:skill_name" - Simple name in specific repo
              - "repo:skill_path" - Full path in specific repo
              - "org/repo:skill_name" - Simple name with org and repo
              - "org/repo:skill_path" - Full path with org and repo
            When provided, this takes precedence over config.skill_spec.
        config:
          $ref: '#/components/schemas/AmbientAgentConfig'
        title:
          type: string
          description: Custom title for the run (auto-generated if not provided)
        team:
          type: boolean
          description: |
            Whether to create a team-owned run.
            Defaults to true for users on a single team.
        agent_identity_uid:
          type: string
          description: |
            Optional agent identity UID to use as the execution principal for the run.
            This is only valid for runs that are team owned.
        on_behalf_of:
          type: string
          description: |
            Optional email address or user ID of a Warp user to attribute the run to.
            When set, the resolved user becomes the run's creator instead of the caller.
            Only agent API keys may use this field, and the calling agent must have
            on_behalf_of enabled in its configuration (`on_behalf_of_enabled`), which a
            team admin must intentionally turn on per agent. The target user must be an
            active member of the run's owner team. Only valid for team-owned runs.
        conversation_id:
          type: string
          description: |
            Optional conversation ID to continue an existing conversation.
            If provided, the agent will continue from where the previous run left off.
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentInput'
          description: |
            Optional file attachments to include with the prompt (max 5).
            Attachments are uploaded to cloud storage and made available to the agent.
        parent_run_id:
          type: string
          description: |
            Optional run ID of the parent that spawned this run.
            Used for orchestration hierarchies.
            The parent run must exist and be visible to the caller; otherwise the
            request is rejected with a 400. Child runs are also subject to the
            server's maximum orchestration depth, and requests that would exceed
            it are rejected with a 400.
        interactive:
          type: boolean
          description: |
            Whether the run should be interactive.
            If not set, defaults to false.
        metadata:
          $ref: '#/components/schemas/RunMetadata'
    RunMetadata:
      type: object
      additionalProperties:
        type: string
      description: |
        Custom key/value metadata attached to a run at creation time and immutable afterward.
        At most 20 keys. Keys are 1-64 bytes matching [a-zA-Z0-9._-]+ (case-sensitive);
        values are 0-256 bytes of UTF-8 and cannot contain NUL characters.
        Requests with invalid metadata are rejected.
        A run's effective metadata is merged per key at creation: explicit request keys
        override keys inherited from the parent run, which override automatic keys
        (ticket_id and ticket_source on Linear- and Jira-triggered runs).
    RunAgentResponse:
      type: object
      required:
      - run_id
      - task_id
      - state
      properties:
        run_id:
          type: string
          description: Unique identifier for the created run
        task_id:
          type: string
          deprecated: true
          description: Unique identifier for the task (same as run_id). Deprecated - use run_id instead.
        state:
          $ref: '#/components/schemas/RunState'
        at_capacity:
          type: boolean
          description: Whether the system is at capacity when the run was created
    AgentRunMode:
      type: string
      description: |
        Query mode for an agent run.
          - normal: Standard user query (default).
          - plan: Planning Mode. The agent researches and creates a plan, then waits for approval before execution.
          - orchestrate: Orchestration Mode. The agent proposes an orchestration plan and must not start child agents until approved.
      enum:
      - normal
      - plan
      - orchestrate
      default: normal
    ListRunsResponse:
      type: object
      required:
      - runs
      - page_info
      properties:
        runs:
          type: array
          items:
            $ref: '#/components/schemas/RunItem'
        page_info:
          $ref: '#/components/schemas/PageInfo'
    RunItem:
      type: object
      required:
      - run_id
      - task_id
      - title
      - state
      - prompt
      - created_at
      - updated_at
      properties:
        run_id:
          type: string
          description: Unique identifier for the run
        task_id:
          type: string
          deprecated: true
          description: Unique identifier for the task (typically matches run_id). Deprecated - use run_id instead.
        title:
          type: string
          description: Human-readable title for the run
        state:
          $ref: '#/components/schemas/RunState'
        execution_location:
          $ref: '#/components/schemas/RunExecutionLocation'
        prompt:
          type: string
          description: The prompt/instruction for the agent
        created_at:
          type: string
          format: date-time
          description: Timestamp when the run was created (RFC3339)
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the run was last updated (RFC3339)
        run_time:
          type: string
          format: duration
          description: Total runtime as an ISO 8601 duration (e.g. "PT2M30S"), computed server-side from run executions.
        started_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the agent started working on the run (RFC3339)
        status_message:
          $ref: '#/components/schemas/RunStatusMessage'
        source:
          $ref: '#/components/schemas/RunSourceType'
        schedule:
          $ref: '#/components/schemas/ScheduleInfo'
        session_id:
          type: string
          description: UUID of the shared session (if available)
        session_link:
          type: string
          format: uri
          description: URL to view the agent session
        trigger_url:
          type: string
          format: uri
          description: URL to the run trigger (e.g. Slack thread, Linear issue, schedule)
        creator:
          $ref: '#/components/schemas/RunCreatorInfo'
        executor:
          $ref: '#/components/schemas/RunCreatorInfo'
        request_usage:
          $ref: '#/components/schemas/RequestUsage'
        agent_config:
          $ref: '#/components/schemas/AmbientAgentConfig'
        conversation_id:
          type: string
          description: UUID of the conversation associated with the run
        parent_run_id:
          type: string
          description: UUID of the parent run that spawned this run
        metadata:
          $ref: '#/components/schemas/RunMetadata'
        is_sandbox_running:
          type: boolean
          description: Whether the sandbox environment is currently running
        is_run_type_cancellable:
          type: boolean
          description: |
            Whether the run's type is eligible for cancellation via the API. State-independent:
            false for GitHub Action and local runs; true for all other run types (including
            self-hosted). Clients should still gate the control on the run's current state.
        artifacts:
          type: array
          items:
            $ref: '#/components/schemas/ArtifactItem'
          description: Artifacts created during the run (plans, pull requests, etc.)
        agent_skill:
          $ref: '#/components/schemas/AgentSkill'
        scope:
          $ref: '#/components/schemas/Scope'
    GetRunTimelineResponse:
      type: object
      description: Response body for listing run timeline events.
      required:
      - events
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/AIRunTimelineEvent'
    AIRunTimelineEvent:
      type: object
      description: A setup or lifecycle event recorded for an agent run.
      required:
      - event_uuid
      - run_id
      - event_type
      - occurred_at
      properties:
        event_uuid:
          type: string
          description: Unique client- or server-generated identifier for this event.
        run_id:
          type: string
          description: Run that owns this event.
        execution_id:
          type: integer
          format: int64
          description: Run execution associated with this event, when available.
        event_type:
          $ref: '#/components/schemas/AIRunTimelineEventType'
        occurred_at:
          type: string
          format: date-time
          description: Timestamp when the event occurred.
        payload:
          type: object
          additionalProperties: true
          description: Optional event-specific JSON payload.
    AIRunTimelineEventType:
      type: string
      description: Type of timeline event recorded for a run.
      enum:
      - oz_run_created
      - oz_run_claimed
      - worker_container_ready
      - shared_session_started
      - agent_started
      - oz_run_done
      - oz_run_blocked
      - oz_run_cancelled
      - oz_run_failed
      - oz_run_errored
      - vm_shutdown
    ConversationResponse:
      type: object
      required:
      - conversation_id
      - steps
      properties:
        conversation_id:
          type: string
          description: Unique identifier for the conversation
        steps:
          type: array
          description: Root steps in the conversation
          items:
            $ref: '#/components/schemas/ConversationStep'
    ConversationStep:
      type: object
      required:
      - id
      - messages
      - steps
      properties:
        id:
          type: string
          description: Unique identifier for the step
        description:
          type: string
          description: Original instruction or delegated work description for the step
        summary:
          type: string
          description: Summary of the work completed for the step
        started_at:
          type: string
          format: date-time
          description: Earliest transcript message timestamp contained in this step or any nested step (RFC3339)
        completed_at:
          type: string
          format: date-time
          description: Latest transcript message timestamp contained in this step or any nested step (RFC3339)
        messages:
          type: array
          description: Ordered normalized messages for this step
          items:
            $ref: '#/components/schemas/ConversationMessage'
        steps:
          type: array
          description: Nested delegated work performed as part of this step
          items:
            $ref: '#/components/schemas/ConversationStep'
    ConversationMessage:
      type: object
      required:
      - role
      - content
      properties:
        message_ids:
          type: array
          description: Underlying transcript message IDs grouped into this normalized message
          items:
            type: string
        request_id:
          type: string
          description: Request identifier shared by transcript messages from the same request, when available
        role:
          $ref: '#/components/schemas/ConversationMessageRole'
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the first transcript message included in this normalized message (RFC3339)
        content:
          type: array
          items:
            $ref: '#/components/schemas/ConversationContentBlock'
    ConversationMessageRole:
      type: string
      description: Role of the normalized message
      enum:
      - user
      - assistant
      - tool
      - system
    ConversationContentBlock:
      oneOf:
      - $ref: '#/components/schemas/TextContentBlock'
      - $ref: '#/components/schemas/ActionContentBlock'
      - $ref: '#/components/schemas/ActionResultContentBlock'
      - $ref: '#/components/schemas/EventContentBlock'
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/TextContentBlock'
          action: '#/components/schemas/ActionContentBlock'
          action_result: '#/components/schemas/ActionResultContentBlock'
          event: '#/components/schemas/EventContentBlock'
    TextContentBlock:
      type: object
      required:
      - type
      - text
      properties:
        type:
          type: string
          enum:
          - text
        message_id:
          type: string
          description: Underlying transcript message ID that produced this content block, when available
        text:
          type: string
          description: Plain text content
    ActionCategory:
      type: string
      description: High-level category of an action performed during the conversation
      enum:
      - command
      - files
      - search
      - integration
      - documents
      - computer
      - review
      - skill
    ActionState:
      type: string
      description: State of an action result
      enum:
      - running
      - completed
      - failed
      - denied
    ActionContentBlock:
      type: object
      required:
      - type
      - id
      - category
      - name
      - input
      properties:
        type:
          type: string
          enum:
          - action
        message_id:
          type: string
          description: Underlying transcript message ID that produced this content block, when available
        id:
          type: string
          description: Unique identifier for the action
        category:
          $ref: '#/components/schemas/ActionCategory'
        name:
          type: string
          description: Public action name, such as run_command or edit_files
        input:
          type: object
          additionalProperties: true
          description: Curated public input for this action. This object is owned by the API and is not a raw internal tool payload.
    ActionResultContentBlock:
      type: object
      required:
      - type
      - action_id
      - category
      - name
      - state
      - output
      properties:
        type:
          type: string
          enum:
          - action_result
        message_id:
          type: string
          description: Underlying transcript message ID that produced this content block, when available
        action_id:
          type: string
          description: Identifier of the corresponding action
        category:
          $ref: '#/components/schemas/ActionCategory'
        name:
          type: string
          description: Public action name matching the corresponding action block
        state:
          $ref: '#/components/schemas/ActionState'
        output:
          type: object
          additionalProperties: true
          description: Curated public result for this action. Large or binary internal payloads should be summarized rather than passed through raw.
    EventContentBlock:
      type: object
      required:
      - type
      - name
      - data
      properties:
        type:
          type: string
          enum:
          - event
        message_id:
          type: string
          description: Underlying transcript message ID that produced this content block, when available
        name:
          type: string
          description: Event type for intentionally exposed non-core transcript events
        data:
          type: object
          additionalProperties: true
          description: Minimal structured metadata for the event
    ArtifactItem:
      oneOf:
      - $ref: '#/components/schemas/PlanArtifact'
      - $ref: '#/components/schemas/PullRequestArtifact'
      - $ref: '#/components/schemas/ScreenshotArtifact'
      - $ref: '#/components/schemas/FileArtifact'
      - $ref: '#/components/schemas/ExternalReferenceArtifact'
      discriminator:
        propertyName: artifact_type
        mapping:
          PLAN: '#/components/schemas/PlanArtifact'
          PULL_REQUEST: '#/components/schemas/PullRequestArtifact'
          SCREENSHOT: '#/components/schemas/ScreenshotArtifact'
          FILE: '#/components/schemas/FileArtifact'
          EXTERNAL_REFERENCE: '#/components/schemas/ExternalReferenceArtifact'
    ExternalReferenceArtifact:
      type: object
      required:
      - artifact_type
      - created_at
      - data
      properties:
        artifact_type:
          type: string
          enum:
          - EXTERNAL_REFERENCE
          description: Type of the artifact
        created_at:
          type: string
          format: date-time
          description: Timestamp when the artifact was created (RFC3339)
        data:
          $ref: '#/components/schemas/ExternalReferenceArtifactData'
    PlanArtifact:
      type: object
      required:
      - artifact_type
      - created_at
      - data
      properties:
        artifact_type:
          type: string
          enum:
          - PLAN
          description: Type of the artifact
        created_at:
          type: string
          format: date-time
          description: Timestamp when the artifact was created (RFC3339)
        data:
          $ref: '#/components/schemas/PlanArtifactData'
    PullRequestArtifact:
      type: object
      required:
      - artifact_type
      - created_at
      - data
      properties:
        artifact_type:
          type: string
          enum:
          - PULL_REQUEST
          description: Type of the artifact
        created_at:
          type: string
          format: date-time
          description: Timestamp when the artifact was created (RFC3339)
        data:
          $ref: '#/components/schemas/PullRequestArtifactData'
    ScreenshotArtifact:
      type: object
      required:
      - artifact_type
      - created_at
      - data
      properties:
        artifact_type:
          type: string
          enum:
          - SCREENSHOT
          description: Type of the artifact
        created_at:
          type: string
          format: date-time
          description: Timestamp when the artifact was created (RFC3339)
        data:
          $ref: '#/components/schemas/ScreenshotArtifactData'
    FileArtifact:
      type: object
      required:
      - artifact_type
      - created_at
      - data
      properties:
        artifact_type:
          type: string
          enum:
          - FILE
          description: Type of the artifact
        created_at:
          type: string
          format: date-time
          description: Timestamp when the artifact was created (RFC3339)
        data:
          $ref: '#/components/schemas/FileArtifactData'
    PlanArtifactData:
      type: object
      required:
      - document_uid
      properties:
        artifact_uid:
          type: string
          description: Unique identifier for the plan artifact, usable with the artifact retrieval endpoint
        document_uid:
          type: string
          description: Unique identifier for the plan document
        notebook_uid:
          type: string
          description: Unique identifier for the associated notebook
        url:
          type: string
          format: uri
          description: URL to open the plan in Warp Drive
        title:
          type: string
          description: Title of the plan
    PullRequestArtifactData:
      type: object
      required:
      - url
      - branch
      properties:
        url:
          type: string
          format: uri
          description: URL of the pull request
        branch:
          type: string
          description: Branch name for the pull request
    ScreenshotArtifactData:
      type: object
      required:
      - artifact_uid
      - mime_type
      properties:
        artifact_uid:
          type: string
          description: Unique identifier for the screenshot artifact
        mime_type:
          type: string
          description: MIME type of the screenshot image
        description:
          type: string
          description: Optional description of the screenshot
    FileArtifactData:
      type: object
      required:
      - artifact_uid
      - filepath
      - filename
      - mime_type
      properties:
        artifact_uid:
          type: string
          description: Unique identifier for the file artifact
        filepath:
          type: string
          description: Conversation-relative filepath for the uploaded file
        filename:
          type: string
          description: Last path component of filepath
        title:
          type: string
          description: |
            Short, badge-visible label for the artifact. For recording artifacts,
            this is the agent-authored title shown in Warp web and blocklist badges.
            Distinct from description, which is longer and shown in detail views.
        description:
          type: string
          description: Optional description of the file
        mime_type:
          type: string
          description: MIME type of the uploaded file
        size_bytes:
          type: integer
          format: int64
          description: Size of the uploaded file in bytes
    ScheduleInfo:
      type: object
      description: Information about the schedule that triggered this run (only present for scheduled runs)
      required:
      - schedule_id
      - schedule_name
      - cron_schedule
      properties:
        schedule_id:
          type: string
          description: Unique identifier for the schedule
        schedule_name:
          type: string
          description: Name of the schedule at the time the run was created
        cron_schedule:
          type: string
          description: Cron expression at the time the run was created
    PageInfo:
      type: object
      required:
      - has_next_page
      properties:
        has_next_page:
          type: boolean
          description: Whether there are more results available
        next_cursor:
          type: string
          description: Opaque cursor for fetching the next page
    RunStatusMessage:
      type: object
      description: |
        Status message for a run. For terminal error states, includes structured
        error code and retryability info from the platform error catalog.
      required:
      - message
      properties:
        message:
          type: string
          description: Human-readable status message
        error_code:
          $ref: '#/components/schemas/PlatformErrorCode'
        retryable:
          type: boolean
          description: |
            Whether the error is transient and the client may retry by submitting
            a new run. Only present on terminal error states. When false, retrying
            without addressing the underlying cause will not succeed.
        session_debug_until:
          type: string
          format: date-time
          description: |
            When a failed run's shared session stops being held open for debugging.
            Only present while that window is open.

            The window is an idle window owned by the agent process: activity in the
            session pushes this deadline out. The agent republishes it periodically
            rather than on every keystroke, so the value can lag the true deadline by
            up to a throttle interval, and always in the conservative direction.
    RequestUsage:
      type: object
      description: Resource usage information for the run
      properties:
        inference_cost:
          type: number
          format: double
          description: Credits consumed by LLM inference for the run
        compute_cost:
          type: number
          format: double
          description: Credits consumed by compute resources for the run
        platform_cost:
          type: number
          format: double
          description: Credits consumed by platform usage for the run
        inference_cost_usd:
          type: number
          format: double
          description: |
            inference_cost in US dollars, converted at the owning team's
            current credit price. An approximate cost, not a billed amount.
        compute_cost_usd:
          type: number
          format: double
          description: |
            compute_cost in US dollars, converted at the owning team's
            current credit price. An approximate cost, not a billed amount.
        platform_cost_usd:
          type: number
          format: double
          description: |
            platform_cost in US dollars, converted at the owning team's
            current credit price. An approximate cost, not a billed amount.
        total_tokens:
          type: integer
          format: int64
          description: |
            Total LLM token count (summed across every usage category and model) for the run's
            conversation. Omitted when the data is not available.
        inference_cost_breakdown_usd:
          $ref: '#/components/schemas/InferenceCostBreakdownUsd'
        usage_by_category:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ChargedUsageDetail'
          description: |
            Full-granularity token and dollar-cost breakdown for the run's
            conversation, keyed by usage category (e.g. "primary_agent",
            "conversation_compaction") and model id.
            This differs from total_tokens/inference_cost_breakdown_usd which
            combine usage across all categories and models.
            Omitted when the data is not available.
    InferenceCostBreakdownUsd:
      type: object
      description: |
        Charged dollar cost of LLM inference, split by token type.
        Omitted when the data is not available.
      required:
      - input_cost_usd
      - input_cache_read_cost_usd
      - input_cache_write_cost_usd
      - output_cost_usd
      properties:
        input_cost_usd:
          type: number
          format: double
          description: Cost of non-cached input tokens, in US dollars.
        input_cache_read_cost_usd:
          type: number
          format: double
          description: Cost of cache-read input tokens, in US dollars.
        input_cache_write_cost_usd:
          type: number
          format: double
          description: Cost of cache-write input tokens, in US dollars.
        output_cost_usd:
          type: number
          format: double
          description: Cost of output tokens, in US dollars.
    TokenCountBreakdown:
      type: object
      description: A per-token-type token count.
      required:
      - input
      - output
      - input_cache_read
      - input_cache_write
      properties:
        input:
          type: integer
          format: int64
          description: Count of non-cached input tokens.
        output:
          type: integer
          format: int64
          description: Count of output tokens.
        input_cache_read:
          type: integer
          format: int64
          description: Count of cache-read input tokens.
        input_cache_write:
          type: integer
          format: int64
          description: Count of cache-write input tokens.
    InferenceUsageDetail:
      type: object
      description: |
        Full token count and dollar-cost detail inference usage.
        The counts and cost describe the same usage (e.g. token_count.input
        tokens cost cost_usd.input_cost_usd in total).
      required:
      - token_count
      - cost_usd
      - web_search_count
      - web_search_cost_usd
      properties:
        token_count:
          $ref: '#/components/schemas/TokenCountBreakdown'
        cost_usd:
          $ref: '#/components/schemas/InferenceCostBreakdownUsd'
        web_search_count:
          type: integer
          format: int64
          description: Number of web searches performed by this model.
        web_search_cost_usd:
          type: number
          format: double
          description: Total cost of those web searches, in US dollars.
    ChargedUsageDetail:
      type: object
      description: |
        Usage charged for a single usage category, broken down by usage type
        (direct API/BYOK/custom endpoint) and, within each, by model ID.
      required:
      - platform_usage_usd
      properties:
        direct_api_inference_usage:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/InferenceUsageDetail'
          description: Inference usage incurred through Warp-provided model access, keyed by model ID.
        byok_inference_usage:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/InferenceUsageDetail'
          description: Inference usage charged using a user's own API key, keyed by model ID.
        custom_endpoint_inference_usage:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/InferenceUsageDetail'
          description: |
            Inference usage charged using a custom endpoint, keyed by the
            custom model's config key.
        platform_usage_usd:
          type: number
          format: double
          description: Platform usage charged for this category, in US dollars.
    RunCreatorInfo:
      type: object
      properties:
        type:
          type: string
          enum:
          - user
          - service_account
          description: Type of the creator principal
        uid:
          type: string
          description: Unique identifier of the creator
        display_name:
          type: string
          description: Display name of the creator
        email:
          type: string
          description: Email address of the creator
        photo_url:
          type: string
          format: uri
          description: URL to the creator's photo
    RunState:
      type: string
      enum:
      - QUEUED
      - PENDING
      - CLAIMED
      - INPROGRESS
      - SUCCEEDED
      - FAILED
      - BLOCKED
      - ERROR
      - CANCELLED
      description: |
        Current state of the run:
        - QUEUED: Run is waiting to be picked up
        - PENDING: Run is being prepared
        - CLAIMED: Run has been claimed by a worker
        - INPROGRESS: Run is actively being executed
        - SUCCEEDED: Run completed successfully
        - FAILED: Run failed
        - BLOCKED: Run is blocked (e.g., awaiting user input or approval)
        - ERROR: Run encountered an error
        - CANCELLED: Run was cancelled by user
    RunSourceType:
      type: string
      enum:
      - LINEAR
      - API
      - SLACK
      - LOCAL
      - SCHEDULED_AGENT
      - WEB_APP
      - GITHUB_ACTION
      - CLOUD_MODE
      - CLI
      - JIRA
      - SELF_IMPROVEMENT
      - GITHUB_WEBHOOK
      - GITLAB_WEBHOOK
      - AUTOFIX
      - RUN_SCORER
      - ORCHESTRATION
      description: |
        Source that created the run:
        - LINEAR: Created from Linear integration
        - API: Created via the Warp API
        - SLACK: Created from Slack integration
        - LOCAL: Created from local CLI/app
        - SCHEDULED_AGENT: Created by a scheduled agent
        - WEB_APP: Created from the Warp web app
        - GITHUB_ACTION: Created from a GitHub action
        - CLOUD_MODE: Created from a Cloud Mode
        - CLI: Created from the CLI
        - JIRA: Created from Jira integration
        - SELF_IMPROVEMENT: Created by Warp's self-improvement pipeline
        - GITHUB_WEBHOOK: Created from a GitHub webhook event
        - GITLAB_WEBHOOK: Created from a GitLab webhook event
        - AUTOFIX: Created by Warp's autofix pipeline
        - RUN_SCORER: Created by Warp's run-scoring judge
        - ORCHESTRATION: Created as a child run by the orchestration layer (parent_run_id set)
    RunExecutionLocation:
      type: string
      enum:
      - LOCAL
      - REMOTE
      description: |
        Where the run executed:
        - LOCAL: Executed in the user's local Warp environment
        - REMOTE: Executed by a remote/cloud worker
    AmbientAgentConfig:
      type: object
      description: Configuration for a cloud agent run
      properties:
        name:
          type: string
          description: |
            Human-readable label for grouping, filtering, and traceability.
            Automatically set to the skill name when running a skill-based agent.
            Set this explicitly to categorize runs by intent (e.g., "nightly-dependency-check")
            so you can filter and track them via the name query parameter on GET /agent/runs.
        model_id:
          type: string
          description: LLM model to use (uses team default if not specified)
        base_prompt:
          type: string
          description: Custom base prompt for the agent
        environment_id:
          type: string
          description: UID of the environment to run the agent in
        runner_id:
          type: string
          description: |
            UID of the runner providing the run's compute (platform, instance
            shape, and setup commands). When omitted on a request, the runner is
            resolved at run creation from the agent's default runner, then the
            environment's default runner, and the resolved UID is recorded on
            the run.
        skill_spec:
          type: string
          description: |
            Skill specification identifying the primary agent skill to use.
            Format: "{owner}/{repo}:{skill_path}"
            Example: "warpdotdev/warp-server:.claude/skills/deploy/SKILL.md"
            Mutually exclusive with skills in create/update requests.
            Responses include the first skills entry here for backward compatibility.
            Use the list agents endpoint to discover available skills.
        skills:
          type: array
          items:
            type: string
          description: |
            Ordered skill specifications to attach to the run.
            Format: "{owner}/{repo}:{skill_path}"
            Example: "warpdotdev/warp-server:.claude/skills/deploy/SKILL.md"
            Mutually exclusive with skill_spec in create/update requests.
        mcp_servers:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/MCPServerConfig'
          description: Map of MCP server configurations by name
        computer_use_enabled:
          type: boolean
          description: |
            Controls whether computer use is enabled for this agent.
            If not set, defaults to true.
        computer_use_model_id:
          type: string
          description: |
            Model the computer use subagent runs on. If not set, the subagent
            picks its own model automatically.
            Only applies to the built-in Oz harness; the value is accepted but
            has no effect under a third-party harness or when computer use is
            disabled. Requires an agent CLI version that supports the
            --computer-use-model flag.
        idle_timeout_minutes:
          type: integer
          format: int32
          minimum: 1
          maximum: 60
          description: |
            Number of minutes to keep the agent environment alive after task completion.
            If not set, defaults to 10 minutes.
            Maximum allowed value is min(60, floor(max_instance_runtime_seconds / 60) for your billing tier).
        worker_host:
          type: string
          description: |
            Self-hosted worker ID that should execute this task.
            If not specified or set to "warp", the task runs on Warp-hosted workers.
        harness:
          $ref: '#/components/schemas/Harness'
        harness_auth_secrets:
          $ref: '#/components/schemas/HarnessAuthSecrets'
        session_sharing:
          $ref: '#/components/schemas/SessionSharingConfig'
        memory_stores:
          type: array
          items:
            $ref: '#/components/schemas/MemoryStoreRef'
          description: Memory stores to attach to this run.
        inference_providers:
          allOf:
          - $ref: '#/components/schemas/InferenceProvidersConfig'
          description: |
            Optional inference provider settings for this run. Run-level
            config takes precedence over the agent's stored config and
            the workspace's admin-configured defaults.
        credential_strategy:
          type: string
          nullable: true
          enum:
          - CREATOR
          - EXECUTOR
          description: |
            Controls which principal's credentials are used when the platform mints
            tokens (e.g. GitHub or GitLab OAuth tokens) on behalf of this run.
            - EXECUTOR (default when unset): credentials are sourced from the run's
              execution principal. For agent principals this produces a
              GitHub App installation token; for user principals this produces their
              personal OAuth token.
            - CREATOR: credentials are always sourced from the run creator,
              regardless of the execution principal. Useful when a service account
              executes the run but Git operations should authenticate as the human
              who triggered it.
            When unset, behavior is identical to EXECUTOR and no additional
            pre-flight validation is performed.
    SessionSharingConfig:
      type: object
      description: |
        Configures sharing behavior for the run's shared session.
        When set, the worker emits `--share public:<level>` and the bundled Warp
        client applies an anyone-with-link ACL to the shared session once it has
        bootstrapped. The same ACL is mirrored onto the backing conversation so
        link viewers can read the conversation without being on the run's team.
        Subject to the workspace-level anyone-with-link sharing setting.
      properties:
        public_access:
          type: string
          enum:
          - VIEWER
          - EDITOR
          description: |
            Grants anyone-with-link access at the specified level to the run's
            shared session and backing conversation.
            - VIEWER: link viewers can read the session and conversation.
            - EDITOR: link viewers can also interact with the session.
            Anonymous (unauthenticated) reads are not supported in this release;
            link viewers must still be authenticated Warp users.
    Harness:
      type: object
      description: |
        Specifies which execution harness to use for the agent run.
        Default (nil/empty) uses Warp's built-in harness.
        When stored as a named agent's default (create/update agent identity),
        this field replaces the deprecated base_harness/base_model pair: a
        non-oz type here requires the agent's base_model to be empty, since
        the two describe mutually exclusive default models.
      properties:
        type:
          type: string
          enum:
          - oz
          - claude
          - gemini
          - codex
          description: |
            The harness type identifier.
            - oz: Warp's built-in harness (default)
            - claude: Claude Code harness
            - gemini: Gemini CLI harness
            - codex: Codex CLI harness
        model_id:
          type: string
          description: |
            Model to use with a third-party harness (e.g. "claude-haiku-4-5").
            Only applies when type is a non-oz harness; the top-level config
            model_id targets the built-in Warp harness instead. When omitted or
            empty, the harness uses its own default model.
        reasoning_level:
          type: string
          description: |
            Reasoning effort for harnesses that support it (e.g. Codex).
            Only applies when type is a non-oz harness. Ignored by harnesses
            that do not support reasoning levels.
    HarnessAuthSecrets:
      type: object
      description: |
        Authentication secrets for third-party harnesses.
        Only the secret for the harness specified gets injected into the environment.
      properties:
        claude_auth_secret_name:
          type: string
          description: |
            Name of a managed secret for Claude Code harness authentication.
            The secret must exist within the caller's personal or team scope.
            Only applicable when harness type is "claude".
        codex_auth_secret_name:
          type: string
          description: |
            Name of a managed secret for Codex harness authentication.
            The secret must exist within the caller's personal or team scope.
            Only applicable when harness type is "codex".
    MCPServerConfig:
      type: object
      description: |
        Configuration for an MCP server. Must have exactly one of: warp_id, command, or url.
      properties:
        warp_id:
          type: string
          description: |
            Reference to a Warp shared MCP server by UUID, or a well-known
            integration MCP id (e.g. "linear") backed by the team's integration
            connection.
        command:
          type: string
          description: Stdio transport - command to run
        args:
          type: array
          items:
            type: string
          description: Stdio transport - command arguments
        url:
          type: string
          format: uri
          description: SSE/HTTP transport - server URL
        env:
          type: object
          additionalProperties:
            type: string
          description: Environment variables for the server
        headers:
          type: object
          additionalProperties:
            type: string
          description: HTTP headers for SSE/HTTP transport
    Error:
      type: object
      description: |
        Error response following RFC 7807 (Problem Details for HTTP APIs).
        Includes backward-compatible extension members.

        The response uses the `application/problem+json` content type.
        Additional extension members (e.g., `auth_url`, `provider`) may be
        present depending on the error code.
      required:
      - type
      - title
      - status
      - error
      properties:
        type:
          type: string
          format: uri
          description: |
            A URI reference that identifies the problem type (RFC 7807).
            Format: `https://docs.warp.dev/reference/api-and-sdk/troubleshooting/errors/{error_code}`
            See PlatformErrorCode for the list of possible error codes.
        title:
          type: string
          description: A short, human-readable summary of the problem type (RFC 7807)
        status:
          type: integer
          description: The HTTP status code for this occurrence of the problem (RFC 7807)
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem (RFC 7807)
        instance:
          type: string
          description: The request path that generated this error (RFC 7807)
        error:
          type: string
          description: |
            Human-readable error message combining title and detail.
            Backward-compatible extension member for older clients.
        retryable:
          type: boolean
          description: |
            Whether the request can be retried. When true, the error is transient
            and the request may be retried. When false, retrying without addressing
            the underlying cause will not succeed.
[...]
